.dart-tool
.dart_tool/package_config.json
.packages

input/aoc01.txt
input/aoc02.txt
input/aoc03.txt
input/aoc04.txt
input/aoc05.txt
input/aoc06.txt
input/aoc07.txt
input/aoc08.txt
input/aoc08.txt
input/aoc10.txt
input/aoc11.txt
input/aoc12.txt
input/aoc13.txt
input/aoc14.txt
input/aoc15.txt
input/aoc16.txt
input/aoc17.txt
input/aoc18.txt
input/aoc19.txt
input/aoc20.txt
input/aoc21.txt
input/aoc22.txt
input/aoc23.txt
input/aoc24.txt
input/aoc25.txt
